@font-face {
  font-family: 'MainFont';
  src: url('../assets/fonts/graphicpixel-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font: 8px MainFont;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  color: #fff;
}


canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
